# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build outputs
android/build/
android/app/build/
android/.gradle/
android/.kotlin/
ios/build/
ios/Pods/

# Secrets & Keys — NEVER commit these
.env
.env.local
.env.*.local
*.keystore
!debug.keystore

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
*.local

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/
